.header{
display: flex;
height: 80px;
width: 100%;
margin: 0px 0px 30px 0px;
background-color: white;
}
body{
    background-color: black;
}
.r-ight{
position: absolute;
right: 20px;
padding: 0px 0px 0px 15px;
top: 48px;
}
.description{
margin: 0 0 0 70px;
position: absolute;
left: 200px;
top: 40px;
padding: 0px 0px 0px 15px;
color: #999999;
}
.menu{
height: 100px;
display: flex;
padding-bottom: 15px; 
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color:white; 
}

.m1{
    margin: 0px 20px 0px 20px;
   
}
.m2{
    margin: 0px 20px 0px 20px;
   
}
.m3{
    margin: 0px 20px 0px 20px;

}
.m4{
    margin: 0px 20px 0px 20px;
 
}
.m5{
    margin: 0px 20px 0px 20px;
 
}
.m6{
    margin: 0px 20px 0px 20px;
    
}
.m1:hover{
    color:#c63e5a;
    text-decoration: underline;
}
.m2:hover{
    color:#c63e5a;
    text-decoration: underline;
}
.m3:hover{
    color:#c63e5a;
    text-decoration: underline;
}
.m4:hover{
    color:#c63e5a;
    text-decoration: underline;
}
.m5:hover{
    color:#c63e5a;
    text-decoration: underline;
}
.m6:hover{
    color:#c63e5a;
    text-decoration: underline;
}

.Sub{
    background-color: #c63e5a;
    color:white;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border-radius: 30%;
}
.Inp{
    padding: 9px 15px 11px 15px;
    background-color: DimGrey;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 15%;
}
.r-ight{
    top:30px;
}
#slider 
{ 
    position: relative;
	text-align: center;
    top: 10px;
}

#slider
{
	margin:  0 auto;
}

#slides article
{ 
	width: 20%;
	float: left;
}

#slides .image
{ 
	width: 500%;
	line-height: 0;
}
#overflow
{ 
    width: 350 px;
    height: 960 px;
	overflow: hidden;
}
#desktop:checked ~ #slider
{ 
	max-width: 960px;
}
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	float: left;
	margin: 0 0 0 -84px;
	display: block;
	height: 68px;
	width: 68px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	float: right;
	margin: 0 -84px 0 0;
	display: block;
	height: 68px;
	width: 68px;
}
label, a
{ 
	cursor: pointer;
}
.all input
{
	display: none;
}
#switch1:checked ~ #slides .image{
	margin-left: 0;
}
#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}
#switch4:checked ~ #slides .image{
	margin-left: -300%;
}
#switch5:checked ~ #slides .image{
	margin-left: -400%;
}
#controls
{
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label
{ 
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #c63e5a;
}
#active{
	margin: 23% 0 0;
	text-align: center;
}
#active label:hover
{ 
	background: white;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #c63e5a;
	border-color: #c63e5a !important;
}

#slides .image
{
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover
{ 
	opacity: 0.6;
}

#controls label
{
	transition: opacity 0.2s ease-out;
}
.picture{
    width: 300px;
    height: 250px;
    display:flex;
    flex-direction: row;
}
.wrap {
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
}
.Name
{
color:#c63e5a;
font-size:10pt;
}

